{{!< default}}
{{#if @blog.cover_image}}{{#contentFor "special_body_class"}}gh-head-transparent{{/contentFor}}{{/if}}

{{!-- <header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
    </div>
</header> --}}

<main id="site-main" class="site-main outer">
    <div class="highlight-feed">
        {{#if @blog.cover_image}}<div class="highlight-feed-cover" style="background-image: url({{@blog.cover_image}})"></div>{{/if}}

        <div class="inner">

            <div class="site-section">
                <div class="post-feed highlight-feed-primary">
                    {{#get "posts" filter="featured:true" include="authors,tags" limit="5"}}
                    {{#foreach posts}}
                        <article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">

                            {{#if og_image}}
                                <a class="post-card-image-link" href="{{url}}">
                                    <div class="post-card-image" style="background-image: url({{og_image}})"></div>
                                </a>
                            {{else}}
                                {{#if feature_image}}
                                    <a class="post-card-image-link" href="{{url}}">
                                        <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                                    </a>
                                {{/if}}
                            {{/if}}

                            <div class="post-card-content">

                                <a class="post-card-content-link" href="{{url}}">
                                    <header class="post-card-header">
                                        {{#if primary_tag}}
                                            <span class="post-card-tags">{{primary_tag.name}}</span>
                                        {{/if}}
                                        <h2 class="post-card-title">{{title}}</h2>
                                    </header>
                                    <div class="post-card-excerpt">
                                        <p>{{excerpt words="33"}}</p>
                                    </div>
                                </a>

                                <footer class="post-card-meta">
                                    {{> "components/author-list"}}
                                    <span class="reading-time">{{reading_time}}</span>
                                </footer>

                            </div>

                        </article>
                    {{/foreach}}
                    {{/get}}
                    {{!-- <aside>
                        <a class="highlight-feed-ad highlight-feed-primary-widget" href="https://ghost.org/pricing/">
                            <img src="{{asset "img/ghostpro.svg"}}" alt="Ghost(Pro)">
                            <p>Spend less time on your server, more time on your site</p>
                        </a>
                        {{#get "posts" filter="tag:twig" include="authors,tags" limit="2"}}
                        {{#foreach posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                        {{/get}}
                    </aside> --}}
                </div>
                {{!-- {{#get "posts" filter="featured:true" include="authors,tags" limit="4"}}
                <div class="post-feed highlight-feed-secondary">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
                {{/get}} --}}
            </div>

        </div>

    </div>

    {{!-- <div class="breakout-section">
        <div class="inner">
            CTA
        </div>
    </div> --}}

    <div class="inner">

        {{#get "posts" filter="tag:cogito-ergo-sum+featured:false" include="authors,tags" limit="3"}}
        <div class="site-section">
            <header class="site-section-header">
                <h2 class="site-section-title">Existo luego pienso</h2>
                <a class="site-section-morelink" href="{{@blog.url}}/tag/cogito-ergo-sum/">See more {{> "icons/arrow-right-small"}}</a>
            </header>
            <div class="post-feed">
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
        {{/get}}

        {{#get "posts" filter="tag:events+featured:false" include="authors,tags" limit="3"}}
        <div class="site-section">
            <header class="site-section-header">
                <h2 class="site-section-title">Eventos</h2>
                <a class="site-section-morelink" href="{{@blog.url}}/tag/events/">See more {{> "icons/arrow-right-small"}}</a>
            </header>
            <div class="post-feed">
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
        {{/get}}

        {{#get "posts" filter="tag:tech+featured:false" include="authors,tags" limit="3"}}
        <div class="site-section">
            <header class="site-section-header">
                <h2 class="site-section-title">Cosas sobre tecnología</h2>
                <a class="site-section-morelink" href="{{@blog.url}}/tag/tech/">See more {{> "icons/arrow-right-small"}}</a>
            </header>
            <div class="post-feed">
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
        {{/get}}

        {{!-- {{#get "posts" filter="tag:writing+featured:false" include="authors,tags" limit="3"}}
        <div class="site-section">
            <header class="site-section-header">
                <h2 class="site-section-title">Writing Tips</h2>
                <a class="site-section-morelink" href="{{@blog.url}}/tag/writing/">See more {{> "icons/arrow-right-small"}}</a>
            </header>
            <div class="post-feed">
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
        {{/get}} --}}


        {{!-- <div class="post-feed">
            {{#foreach posts}}

                {{> "post-card"}}

            {{/foreach}}
        </div> --}}

    </div>
</main>
